/* navbar */
.navbar{
  background-color:lightblue;
}
.nav-link{
  font-weight: bold;
}
.navbar-brand{
  font-size: 20px;
}
.text{
  margin-top: 10px;

}
.card-img{
  width: 325px;
  height: 400px;
}
/* trending */
.album{
  background-color:lightgray;
  cursor: pointer;
}
.album img:hover{
  transform: scale(1.2);
}


.trend1{


  padding: 10px;
  margin-right: 20px;
}
.trend{
  background-color:lightgray;
 
  
}
.col-md-4{
  width: 400px;
  

}

.album{
  padding-right: 200px;
}

    



.card-text{
  padding: 100px;
    font-weight: bold;
    color:black;
    font-size: 30px;
    max-width:600px;
    

  }
  
  .card-text:hover{
    transform: scale(1.2);
    
   
  }

 /* footer */

 .footer{
  background-color: lightblue;
text-decoration: underline;
cursor: pointer;
height: 200px;
padding-left: 20px;


 }
 

.footer-container{
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.copyright{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color:black;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    
}
.img-fluid{
  padding: 5px;
  margin: 0px;
  width: 200px;
  height: 300px;
  

}

.card-body{
  padding-left: 100px;
  padding-top: 50px;
}
.row{
  margin-left: 100px;
}
.col-md-4{
  margin-top: 100px;
  margin-bottom: 100px;
}
.para{
  color: black;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 150px;
  font-size: 15px;
  border: 2px solid;
  margin-top:20px;
  text-decoration: underline;
  
}
.img-thumbnail{
 height: 300px;
 justify-content: space-between;
 cursor: pointer;
 }
 
.body{
  border: 2px solid;
  width: 400px;
  text-align: center;
 
}
 
  .trending img:hover{
transform: scale(1.2);
  }
.details{
  border:2px solid;
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  color:black;
  position: static;
}
.details .hr{
  background-color: red;
}

.details1{
padding-right: 40px;

}
.brands1{
  justify-content: space-around;
}
.type1{
  border: 2px solid;
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-bottom: 250px;
  margin-left: 300px;
  border-radius: 30px;
}
.type2{
  border: 2px solid;
  width: 200px;
  height: 100px;
  padding-top: 20px;
  margin-left: 800px;
margin-bottom: 50px;
  padding-left: 20px;
  border-radius: 30px;
}
.type3{
  margin-bottom: 200px;
  border: 2px solid;
  border-radius: 30px;
  width: 200px;
  height: 100px;
  margin-left: 500px;
}