/* navbar */
.navbar{
  background-color:lightblue;
}
.nav-link{
  font-weight: bold;
}
.navbar-brand{
  font-size: 20px;
}
.text{
  margin-top: 10px;

}
.card-img{
  width: 325px;
  height: 400px;
}
/* trending */
.album{
  background-color:lightgray;
  cursor: pointer;
}
.album img:hover{
  transform: scale(1.2);
}



.trend{
  background-color:lightgray;
}
.album{
  padding-right: 200px;
}

    



.card-text{
  padding: 100px;
    font-weight: bold;
    color:black;
    font-size: 30px;
    max-width: 600px;
    

  }
  .card-text:hover{
    transform: scale(1.2);
    
   
  }

 /* footer */

 .footer{
  background-color: lightblue;
text-decoration: underline;
cursor: pointer;
height: 200px;
padding-left: 20px;

 }
 .footer1{
  flex-direction: column;

 }

.footer-container{
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.copyright{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color:black;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    
}
.img-fluid{
  padding: 5px;
  margin: 0px;
  width: 200px;
  height: 300px;
  

}

.card-body{
  padding-left: 100px;
  padding-top: 50px;
}
.row{
  margin-left: 100px;
}
.col-md-4{
  margin-top: 100px;
  margin-bottom: 100px;
}
.para{
  color: black;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 150px;
  font-size: 15px;
  border: 2px solid;
  margin-top:20px;
  text-decoration: underline;
  
}
.img-thumbnail{
 background-color:black;
 height: 300px;
 justify-content: space-between;
 
}
.body{
  border: 2px solid;
  width: 400px;
  text-align: center;
 
}
 
  .trending img:hover{
transform: scale(1.2);
  }
